# Example configuration file for simplified onchain bot
[stop]
min_balance_lamports = 100_000_000
should_unwrap = true # If set to false, then the bot stops.
unwrap_amount_lamports = 200_000_000

# [[markets_file]]
# enabled=false
# path="markets.toml" # also supports json, but must be a 2d array of market addresses
# update_seconds=0

# [[lookup_tables_file]]
# enabled=false
# path="lookup-tables.txt" # also supports json, but must be 1d array of market addresses
# update_seconds=100

[bot]
# Max compute unit limit per transaction
compute_unit_limit = 358_182
no_failure_mode = true # Optional. DO NOT ENABLE THIS IF YOU DON'T KNOW WHAT THIS IS.
# run_after_simulation_profit = false # If true, the bot only sends real transactions after it finds profitable route through simulation. Only works in Non-Jito Mode
new_version = true
merge_mints = true
# log = true


[jito]
process_delay = 1000
uuid=""
enabled = false
block_engine_urls = [
  "https://frankfurt.mainnet.block-engine.jito.wtf/api/v1",
]
tip_config = {from = 1111, to = 3333}

[spam]
# Enable spam transactions
enabled = true
process_delay = 300
# max_spam_tx_len_after_simulation_success = 100
# List of RPC URLs to use for sending transactions
sending_rpc_urls = [
  "",
]
# Fixed compute unit price
priority_fee = {from = 1111, to = 3333}
# Maximum retries
max_retries = 1

[auto]
enabled = true
refresh_interval_in_secs = 10
[auto.filters]
limit = 2
min_tx_len = 1
min_pool_wsol_liquidity = 10
max_pool_wsol_liquidity = 75000
duration = 10
min_profit = 50000000
min_profit_per_arb = 100000
# min_roi = 10.0

[flashloan]
enabled = true

[rpc]
# RPC URL for the Solana network
url = ""

[wallet]
# Private key (can be path or environment variable)
private_key = ""
